doctype html
html
	head
		title 
	body
		a(href="/comments/10") Comment with id 10
		form(action="/pictures/upload",method="POST",enctype="multipart/form-data")
			input(type="file",name="picture")
			input(type="submit")