body {
	font-family: sans-serif;
}
#wrapper {
	width: 60%;
	margin: 1em auto;
}
h1 {
	font-size: 160%;
}
h2 {
	font-size: 130%;
}
/* main VIEW */
#picture-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#picture-list li {
	vertical-align: top;
	display: inline-block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
#picture-list img {
	min-width: 100%;
	min-height: 100%;
}
#picture-list .progress {
	position: absolute;
	top: 0; right: 0; bottom: 0;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}
#picture-list .button {
	position: absolute;
	top: 0.2em; right: 0.2em;
}
/* picture VIEW */
#picture {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
}
#picture img {
	position: absolute;
	margin: auto;
	top: 0; right: 20%; bottom: 0; left: 0;
	max-width: 80%;
	max-height: 100%;
}
#pane {
	width: 20%;
	padding: 0.5em;
	position: absolute;
	top: 0; right: 0; bottom: 0;
	background-color: white;
	overflow: scroll;
}
#comment-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#comment-list li {
	border-top: 1px solid silver;
	padding: 0.5em;
}
#comment-list .comment-details > span+span:before {
	content: ', ';
}
#comment-list .comment-details {
	color: gray;
}
#picture .close {
	position: absolute;
	top: 1%;
	right: 21%;
	font-size: 4em;
	color: #aaa;
	text-decoration: none;
}
#picture .navigation {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 5%;
	font-size: 4em;
	color: #aaa;
	text-decoration: none;
	margin: auto;
	height: 1em;
	text-align: center;
}
#picture .next {
	right: 20%;
}
#picture .previous {
	left: 0;
}