body {
	font-family: sans-serif;
}
#wrapper {
	width: 80%;
	margin: 1em auto;
}
h1 {
	font-size: 160%;
}
h2 {
	font-size: 130%;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
/* main VIEW */
#picture-list > div > div {
	vertical-align: top;
	display: inline-block;
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: relative;
}
#picture-list img {
	min-width: 100%;
	min-height: 100%;
}
#picture-list .progress-bar {
	position: absolute;
	top: 0; right: 0; bottom: 0;
	height: 100%;
	background: rgba(255,255,255,0.5);
}
#picture-list .button {
	position: absolute;
	top: 0.2em; right: 0.2em;
}
/* picture VIEW */
#picture {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
}
#picture-panel {
	position: absolute;
	top: 0;
	right: 20em;
	bottom: 0;
	left: 0;
}
#picture-panel.full {
	width: 100%;
}
#picture-panel img {
	position: absolute;
	margin: auto;
	top: 0; right: 0; bottom: 0; left: 0;
	max-width: 100%;
	max-height: 100%;
}
#picture-panel .close {
	position: absolute;
	top: 1%;
	right: 1%;
	font-size: 4em;
	color: #aaa;
	text-decoration: none;
}
#picture-panel .navigation {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 7%;
	font-size: 5em;
	color: #aaa;
	text-decoration: none;
	margin: auto;
	height: 1em;
	text-align: center;
}
#picture-panel .navigation.next {
	right: 1%;
}
#picture-panel .navigation.previous {
	left: 0;
}
/* picture VIEW - side panel */
#side-panel {
	width: 250px;
	height: 100%;
	padding: 1%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: white;
}
#side-panel.hidden {
	display: block!important;
	right: -250px;
}
#side-panel .toggle {
    position: absolute;
    left: -1em;
    bottom: 1%;
    background-color: rgba(255,255,255,0.3);
    font-size: 2em;
    padding: 0.25em 0.25em 1.25em 0.25em;
    line-height: 1em;
    height: 1em;
    width: 1em;
}
#comment-list {
	overflow: auto;
}
#comment-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#comment-list li {
	border-top: 1px solid silver;
	padding: 0.5em;
}
#comment-list .comment-details > span+span:before {
	content: ', ';
}
#comment-list .comment-details {
	color: gray;
}