<img src="pictures/screen/{{picture.filename}}">
<a class="close" href="/">X</a>
<a class="navigation previous" ng-if="picture.previous" href="picture/{{picture.previous.filename}}"></a>
<a class="navigation next" ng-if="picture.next" href="picture/{{picture.next.filename}}"></a>
<div id="pane">
	<a href="pictures/original/{{picture.filename}}" target="_blank">Show original</a>
	<h3>Comments</h3>
	<form ng-submit="addComment(picture.filename)">
		<input type="text" ng-model="formData.b" style="display:none">
		<div class="form-group">
			<input class="form-control" type="text" ng-model="formData.name" placeholder="Name">
		</div>
		<div class="form-group">
			<textarea class="form-control" ng-model="formData.message" placeholder="Message"></textarea>
		</div>
		<div class="form-group">
			<input class="btn.btn-default" type="submit">
		</div>
	</form>
	<div id="comment-list">
		<span ng-if="!picture.comments || !picture.comments.length">No comments</span>
		<ul>
			<li ng-repeat="comment in picture.comments">
				<p class="comment-details">
					<span class="comment-name">{{comment.name ? comment.name : 'Unknown'}}</span><span
						  class="comment-date">{{comment.date_added | date : 'short'}}</span>
				</p>
				<p class="comment-message">{{comment.message}}</p>
			</li>
		</ul>
	</div>
</div>