doctype html
html
	head
		title 

		script(src="https://code.jquery.com/jquery-2.2.0.min.js")

		// Latest compiled and minified CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
		// Optional theme
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
		// Latest compiled and minified JavaScript
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')

		link(href="/css/style.css",rel="stylesheet",type="text/css")

	body
		div#wrapper
			h1
				| Picture Store
			h2
				| Upload new
			form(action="/pictures/upload",method="POST",enctype="multipart/form-data")
				input(type="file",name="picture" multiple)
				br
				input(class="btn btn-default",type="submit")
			h2
				| Pictures
			div#picture-list
				#pictures
					if !pictures || !pictures.length
						| No pictures
					else
						ul
							each picture, index in pictures
								li
									a(href="/picture/"+picture.filename)
										img(src="/pictures/thumbnail/"+picture.filename)
			if picture
				div#picture
					img(src="/pictures/screen/"+picture.filename)
					a(class="close",href="/")
						| X
					if picture.previous
						a(class="navigation previous",href="/picture/"+picture.previous.filename)
							| <
					if picture.next
						a(class="navigation next",href="/picture/"+picture.next.filename)
							| >
					div#pane
						a(href="/pictures/original/"+picture.filename, target="_blank")
							| Show original
						h3
							| Comments
						form(action="/comments/send",method="POST")
							input(type="hidden",name="ref",value=picture.filename)
							input(type="text",name="bot",style="display:none")
							div.form-group
								input.form-control(type="text",name="name",placeholder="Name")
							div.form-group
								textarea.form-control(name="message",placeholder="Message")
							div.form-group
								input.btn.btn-default(type="submit")
						div#comment-list
							if !picture.comments || !picture.comments.length
								| No comments
							else
								ul
									each comment, index in picture.comments
										li
											p.comment-details
												span.comment-name
													=comment.name
												span.comment-date
													=comment.date_added.toLocaleDateString()
											p.comment-message
												=comment.message
